# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Test/Cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/